#block-text.block
  .content
    %h2 Current Round
    - unless @current_round.blank?
      %ul
        - @current_round.songs.each do |s|
          %li #{s.artist} - #{s.title}
    - else
      %p Nothing currently being voted on.

    %h2 Upcoming Rounds
    - unless @upcoming_rounds.blank?
      %p There are upcoming rounds.
    - else 
      %p There are no upcoming rounds.