#block-text.block
  .content
    %h2 Current Round
    - unless @current_round.blank?
      = @current_round
      -# @current_round.songs.each do |s|
        = s.artist
    - else
      %p Nothing currently being voted on.

    %h2 Upcoming Rounds
    - unless @upcoming_rounds.blank?
      %p There are upcoming rounds.
    - else 
      %p There are no upcoming rounds.