/* Import from Google Webfonts */
@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700|Graduate);

@mixin primary-font {
	font-family: 'Rokkitt', serif;
}
@mixin clock-font {
	font-family: 'Graduate', cursive;
}
@mixin hover-ease($time) {
	-moz-transition: background-color $time + s ease;
	-o-transition: background-color $time + s ease;
	-webkit-transition: background-color $time + s ease;
	-ms-transition: background-color $time + s ease;
}

$text: #ececec;
$background: #444444;

$green: #7dfb5b;
$blue: #62e7ef;
$pink: #fb5bf9;
$yellow: #fbf95b;

html { background-color: $background; }
body { 
	color: $text;
	@include primary-font;
}

header { text-align: center; }
footer { text-align: center; }

#clock { 
	@include clock-font;
}

a { color: $text }
.hidden { display: none; }

.login { 
	text-align: center;
	width: 300px;
	margin: 0 auto;

	input[type=text], input[type=password] {
		width: 280px;
		padding: 5px 10px;
		font-size: 120%;
		margin-bottom: 5px;
		border: 2px solid transparent;
		background: rgba($blue, 0.15);
		color: $blue;
		@include primary-font;
	}
	input:focus {
		border: 2px solid $blue;
		outline: none;
	}

	.button {
		padding: 5px 30px;
		border: none;
		color: $text;
		background-color: rgba($pink, 0.15);
		@include hover-ease(0.4);
	}
	.button:hover {
		background-color: $pink;
	}
	.button:active {
		background-color: rgba($pink, 0.5);
	}

}