.block
  .secondary-navigation
    %ul.wat-cf
      %li.first=link_to pat(:list), url(:rounds, :index)
      %li=link_to pat(:new), url(:rounds, :new)
      %li.active=link_to pat(:edit), url(:rounds, :edit, :id => @round.id)
  .content
    %h2.title
      =pat(:edit)
      =mt(:round)
    .inner
      -form_for :round, url(:rounds, :update, :id => @round.id), :method => :put, :class => :form do |f|
        =partial "rounds/form", :locals => { :f => f }

    %h3 Songs
    - unless @songs.blank?
      %ul
        - @songs.each do |s|
          %li[s] #{s.artist} - #{s.title} (<span class="votes">#{s.votes}</span>)
    - else
      %p Nothing currently being voted on.

-content_for :sidebar, partial("base/sidebar")
