.group
  =f.label :title
  =f.error_message_on :title
  =f.text_field :title, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :artist
  =f.error_message_on :artist
  =f.text_field :artist, :class => :text_field
  %span.description Ex: a simple text

.group
  =f.label :round_id
  =f.error_message_on :round_id
  =f.text_field :round_id, :class => :text_field
  %span.description Ex: a simple text


.group.navform.wat-cf
  =f.submit pat(:save), :class => :button
  =f.submit pat(:cancel), :onclick => "window.location='#{url(:songs, :index)}';return false", :class => :button
