- unless @timer.blank?

  %header
    %h1 What do <span class="blue">you</span> want to hear next?
    %h1#clock.blue

  - unless @songs.blank? 
    %ul.selections
      - @songs.each do |s|
        %li[s]
          #{s.artist} - #{s.title}
          <span class="votes">#{s.votes}</span>
  - else
    %p No songs to vote on!

  %ul.selections
    %li.green#1
      %h3
        %a{:href => "#"} Carly Rae Jepsen - Call Me Maybe
      .progress
        .outline
        .bar{ :style => "width:20%" }
    %li.pink#2
      %h3
        %a{:href => "#"} Nicki Minaj - Beez In The Trap
      .progress
        .outline
        .bar{ :style => "width:70%" }
    %li.blue#3
      %h3
        %a{:href => "#"} fun. - We Are Young
      .progress
        .outline
        .bar{ :style => "width:35%" }

- else

  %header
    %h1 Nothing to currently vote on. Come back later.