%header
  %h1 What do <span class="blue">you</span> want to hear next?
  %h1#clock.blue 01:28

%ul.selections
  %li.green
    %h3
      %a{:href => "#"} Carly Rae Jepsen - Call Me Maybe
    .progress
      .outline
      .bar{ :style => "width:20%" }
  %li.pink
    %h3
      %a{:href => "#"} Nicki Minaj - Beez In The Trap
    .progress
      .outline
      .bar{ :style => "width:70%" }
  %li.blue
    %h3
      %a{:href => "#"} fun. - We Are Young
    .progress
      .outline
      .bar{ :style => "width:35%" }